@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "/node_modules/flag-icons/css/flag-icons.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  background-color: #212121;
}

h2 {
  @apply text-xl lg:text-4xl;
}

p {
  @apply text-xl tracking-tight leading-relaxed;
}

span {
  @apply text-white;
}

.shiny-effect {
  @apply absolute rounded-full z-10 pointer-events-none;
  background-image: radial-gradient(
    circle,
    rgba(13, 115, 119, 0.2) 30%,
    transparent,
    rgb(33, 33, 33)
  );
}

.split-line {
  @apply lg:border-t border-separate border-jonathan-light/10;
}

.cv {
  @apply bg-gray-100 min-h-screen pt-10 pb-10 md:pb-40 px-5;

  h3 {
    @apply text-lg md:text-lg font-bold mt-10;
  }

  h4 {
    @apply text-base font-bold mt-2;
  }

  p {
    @apply mt-5 text-slate-800 text-base;
  }

  ul {
    @apply mb-5;
    li {
      @apply ml-4 list-disc mt-2;
    }
  }
}
